main{
    margin: 70px 130px;
  
}

.header{
    height: 120px;
    background-color: #6aa1be;
}

.header h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    color: #7ebc45;
}
 main h3 {
    font-weight: normal;
    font-size: 1.6em;
 }
.button{
    width: 100px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
}

.form {
    width: 500px;
    padding: 20px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 7px;
    margin-bottom: 200px;
}

main tr {
    height: 55px;
    font-size: 1.3em;
   
}
.map {
    width: 607px;
    margin-top: 25px;
}

.footer {
    height: 70px;
    background-color: rgb(39, 38, 38);
    padding-top: 20px;
}
